<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <debugDir>debugDir</debugDir>
    <testDir>data/test</testDir>
    <debugEnabled>true</debugEnabled>
        <compressedReading>false</compressedReading>
        <compressedCollectionFile>data/collection.tar.gz</compressedCollectionFile>

        <datasetConfig>
            <datasetPath>resources/dataset/</datasetPath>
        </datasetConfig>
        <preprocessConfig>
            <removeStopwords>true</removeStopwords>
            <stemmerEnabled>true</stemmerEnabled>
            <stopwordsPath>resources/stopwords.dat</stopwordsPath>
        </preprocessConfig>
        <vocabularyConfig>
            <vocabularyFile>/vocabulary</vocabularyFile>
            <frequencyFileName>/frequencies</frequencyFileName>
            <docIdFileName>/docids</docIdFileName>
            <vocabularyPath>data/vocabulary</vocabularyPath>
        </vocabularyConfig>
        <invertedIndexConfig>
            <invertedIndexFreqs>data/invertedIndexFreqs</invertedIndexFreqs>
            <invertedIndexDocs>data/invertedIndexDocs</invertedIndexDocs>
        </invertedIndexConfig>
        <scorerConfig>
            <maxScoreEnabled>true</maxScoreEnabled>
        </scorerConfig>
        <collectionConfig>
            <rawCollectionPath>resources/dataset/sampled_collection.tsv</rawCollectionPath>
            <compressedCollectionPath>resources/dataset/collection.tar.gz</compressedCollectionPath>
            <collectionStatisticsPath>data/collection_statistics</collectionStatisticsPath>
        </collectionConfig>
        <partialResultsConfig>
            <partialVocabularyDir>data/partial_vocabulary</partialVocabularyDir>
            <frequencyDir>data/partial_frequencies</frequencyDir>
            <docIdDir>data/partial_docids</docIdDir>
        </partialResultsConfig>
        <blockDescriptorConfig>
            <blockDescriptorsPath>data/blockDescriptors</blockDescriptorsPath>
            <compressionEnabled>true</compressionEnabled>
        </blockDescriptorConfig>
        <documentIndexConfig>
            <documentIndexPath>data/documentIndex</documentIndexPath>
        </documentIndexConfig>

</Config>