<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <removeStopwords>true</removeStopwords>
    <maxScoreEnabled>true</maxScoreEnabled>
    <datasetPath>resources/dataset/</datasetPath>
    <compressedCollectionPath>data/collection.tar.gz</compressedCollectionPath>
    <stopwordsPath>resources/stopwords.dat</stopwordsPath>

    <vocabularyPath>data/vocabulary</vocabularyPath>
    <invertedIndexDocs>data/invertedIndexDocs</invertedIndexDocs>
    <invertedIndexFreqs>data/invertedIndexFreqs</invertedIndexFreqs>
    <partialVocabularyDir>data/partial_vocabulary</partialVocabularyDir>
    <frequencyDir>data/partial_frequencies</frequencyDir>
    <docIdsDir>data/partial_docids</docIdsDir>
    <collectionStatisticsPath>config/collectionStatistics</collectionStatisticsPath>
    <blockDescriptorsPath>data/blockDescriptors</blockDescriptorsPath>
    <flagsFilePath>data/flags</flagsFilePath>
    <testDir>data/test</testDir>

    <rawCollectionPath>data/sampled_collection</rawCollectionPath>
    <documentIndexPath>data/index</documentIndexPath>
    <frequencyFileName>data/frequencies</frequencyFileName>
    <vocabularyFileName>data/vocabulary</vocabularyFileName>
    <docIdsFileName>data/docids</docIdsFileName>
    <compressionEnabled>true</compressionEnabled>
    <debugDir>debugDir</debugDir>
</Config>